
/* Markku Laakso, 2016 */

body {
    background-color: #EDEDED;
}

.container {
    background-color: #CCCCCC;
}

.right {
    text-align: right;
}

.todoItem {
    border-top: 1px solid rgb(200,200,200);
    padding: 0.5em;
    
}

.hidden {
    display: none;
}

.green {
    color: green;
}

.todoContainer {
    border: 1px solid rgb(200,200,200);
}

.okColumn {
    width: 40px;
}

.inlineBlock {
    display: inline;
}

.otsikko {
    padding: 1px 12px 12px 12px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: #EEEEEE;
}

.lomake {
    padding: 1px 12px 12px 12px;
    margin-bottom: 8px;
    background-color: #FDFDFD;
}

.lista {
    padding: 1px 12px 12px 12px;
    margin-bottom: 8px;
    background-color: #FDFDFD;
}

.footer {
    padding: 6px 12px 12px 12px;
    margin-top: 12px;
    margin-bottom: 8px;
    background-color: #EEEEEE;
}

	
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}